<div class="holiday_section container">
  <div class="header">
    LOREM IPSUM <span>DOLOR</span>
  </div>
  <div class="card_parent">
    <div class="left_arrow">
      <img src="../../../../../assets/images/arrow2.png">
    </div>
    <div class="card_child">
      <div class="img_container">
        <img src="../../../../../assets/images/holiday_card2.PNG">
      </div>
      <div class="description">
        Environment Day Celebration 13th June, 2020
      </div>
      <div class="line">

      </div>
    </div>
    <div class="card_child">
      <div class="img_container">
        <img src="../../../../../assets/images/holiday_card3.PNG">
      </div>
      <div class="description">
        Environment Day Celebration 13th June, 2020
      </div>
      <div class="line">

      </div>
    </div>
    <div class="card_child">
      <div class="img_container">
        <img src="../../../../../assets/images/holiday_card4.PNG">
      </div>
      <div class="description">
        Environment Day Celebration 13th June, 2020
      </div>
      <div class="line">

      </div>
    </div>
    <div class="card_child">
      <div class="img_container">
        <img src="../../../../../assets/images/holiday_card1.PNG">
      </div>
      <div class="description">
        Environment Day Celebration 13th June, 2020
      </div>
      <div class="line">

      </div>
    </div>
    <!-- <div class="card_child">
      <div class="img_container">
        <img src="../../../../../assets/images/holiday_card1.PNG">
      </div>
      <div class="description">
        Environment Day Celebration 13th June, 2020
      </div>
      <div class="line">

      </div>
    </div> -->
    <div class="right_arrow">
      <img src="../../../../../assets/images/arrow1.png">
    </div>
  </div>
</div>
