<div class="header_container">
  <div class="container sub_header_container">
    <div class="first_content">
      <p>Ranked No 1 School - Times of India [Date: January 16, 2014]</p>
    </div>
    <div class="second_content">
      <div class="enquery">
        <p>
          For enquiry - call us at <span> +918918316608 </span> |
          <span> +918918216609</span>
        </p>
      </div>
      <div class="login_button">
        <button>EMAIL LOG IN</button>
      </div>
    </div>
  </div>
</div>
