<div class="card_section">
  <div class="card_container">
    <div class="img_container">
      <img src="../../../../../assets/images/admission.PNG">
    </div>
    <div class="card_detail">
      <div class="title">
        <p>
          ADMISSION
          <span>
            INFORMATION
          </span>
        </p>


      </div>
      <div class="description">
        <p>
          For enrollment and enquiry call us @ +917063398817, +916287912345
        </p>
      </div>
      <div class="button_container">
        <button>LEARN MORE</button>
      </div>
    </div>
    <div class="triangle"></div>
  </div>
  <div class="card_container">
    <div class="img_container">
      <img src="../../../../../assets/images/card2.PNG">
    </div>
    <div class="card_detail">
      <div class="title">
        <p>
          SESSION &nbsp; &nbsp; &nbsp;&nbsp;
          <span>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 2021 - 2022
          </span>
        </p>


      </div>
      <div class="description">
        <div class="description_child bg_color1">
          <div class="list_order bg_color1">&lt;</div>
          <div class="list_content">
            Announcements
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color1">&lt;</div>
          <div class="list_content">
            School Calender
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color1">&lt;</div>
          <div class="list_content">
            Awards and Achievements
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color1">&lt;</div>
          <div class="list_content">
            ICSE and ISC Result
          </div>
        </div>
      </div>
      <!-- <div class="button_container">
        <button>LEARN MORE</button>
      </div> -->
    </div>
    <div class="triangle"></div>
  </div>
  <div class="card_container">
    <div class="img_container">
      <img src="../../../../../assets/images/card2.PNG">
    </div>
    <div class="card_detail">
      <div class="title">
        <p>
          ACADEMICS
        </p>


      </div>
      <div class="description">
        <div class="description_child bg_color2">
          <div class="list_order bg_color2">&lt;</div>
          <div class="list_content">
            Syllabus
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color2">&lt;</div>
          <div class="list_content">
            Exam Schedules
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color2">&lt;</div>
          <div class="list_content">
            Subject we offer
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color2">&lt;</div>
          <div class="list_content">
            List of Toppers
          </div>
        </div>
      </div>
      <!-- <div class="button_container">
        <button>LEARN MORE</button>
      </div> -->
    </div>
    <div class="triangle"></div>
  </div>
  <div class="card_container">
    <div class="img_container">
      <img src="../../../../../assets/images/card2.PNG">
    </div>
    <div class="card_detail">
      <div class="title">
        <p>
          TRANSPORT
        </p>


      </div>
      <div class="description">
        <div class="description_child">
          <div class="list_order bg_color3">&lt;</div>
          <div class="list_content">
            Bus Route
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color3">&lt;</div>
          <div class="list_content">
            Does and Dont's
          </div>
        </div>
        <div class="description_child">
          <div class="list_order bg_color3">&lt;</div>
          <div class="list_content">
            Contact information
          </div>
        </div>
      </div>
      <!-- <div class="button_container">
        <button>LEARN MORE</button>
      </div> -->
    </div>
    <div class="triangle"></div>
  </div>
</div>
