<div class="choose_us_section">
  <div class="right_parent">
    <div class="bg_frame">
      <img class="righ_main_img" src="../../../../../assets/images/choose_us_right.PNG">
      <img src="../../../../../assets/images/floating_tri1.png" class="float_img1">
      <img src="../../../../../assets/images/float_tri2.png" class="float_img2">
      <img src="../../../../../assets/images/float_tri3.png" class="float_img3">
      <img src="../../../../../assets/images/float_tri4.png" class="float_img4">
    </div>
  </div>
  <div class="left_parent">
    <div class="header">
      <P>
        LOREM IPSUM
      </P>
    </div>
    <div class="title">
      <P>
        SENIOR SCHOOL
      </P>
    </div>
    <div class="list">
        <div class="list_order bg_color3">&lt;</div>
        <div class="list_content">
          School Calender
        </div>
    </div>
    <div class="list">
      <div class="list_order bg_color3">&lt;</div>
      <div class="list_content">
        School Uniform
      </div>
  </div>
  <div class="title">
    <P>
      JUNIOR SCHOOL
    </P>
  </div>
  <div class="title">
    <P>
      PRE-PRIMARY SCHOOL
    </P>
  </div>
  </div>
</div>
