@import "../../../../../assets/mixins/UI_mixins";
.choose_us_section{
  background-image: url('../../../../../assets/images/choose_us_bg.jpg');
  height: 35rem;
  background-size: 100vw 35rem;
  background-color: rgb(238, 233, 233);
  @include displayFlex(space-around, center);
  // padding: 2rem 8rem;
  .left_parent{
    width: 22rem;
    .header{
      p{
        @include fontStyle(rgb(255, 60, 0), 1rem, 700)
      }}
      .title{
        p{
          @include fontStyle(black, 2.5rem, normal);
        }
      }
      .list{
        // border: 1px solid red;
        @include displayFlex(left, center);
        .bg_color1{
          background-color: #e2bd16;
        }
        .bg_color2{
          background-color: #3b6311;
        }
        .bg_color3{
          background-color: #f58b13;
        }
        .list_order{
          height: 1.4rem;
          width: 1.4rem;
          border-radius: 50%;
          // background-color: rgb(255, 115, 0);
          // padding: 0.02rem;
          // color: wheat;
          text-align: center;
          // font-weight: 600;
          @include fontStyle(white, 0.9rem, bold);
          margin-right: 0.8rem;
          margin-bottom: 0.3rem;
        }
      }

  }
  .right_parent{

    .bg_frame{
      background-color: #84b346b0;
      position: relative;
      height: 25rem;
      width: 32rem;
      .righ_main_img{
        position: absolute;
        right: 8rem;
        top: 2.5rem;
        height: 80%;
        width: 85%;
      }
      .float_img1{
        position: absolute;
        right: -1rem;
        top: 12rem;
      }
      .float_img2{
        position: absolute;
        left: -5rem;
        top: 12rem;
      }
      .float_img3{
        position: absolute;
        left: -5rem;
        top: 22rem;
      }
      .float_img4{
        position: absolute;
        left: 3rem;
        top: 26rem;
      }

    }
  }
}
