<div class="choose_us_section">
  <div class="left_parent">
    <div class="header">
      <P>
        WHY CHOOSE US?
      </P>
    </div>
    <div class="title">
      <P>
        LOREM IPSUM DOLAR SIT AMET
      </P>
    </div>
    <div class="description">
      <p>
        One of the premier and most progressive educational institutions in India! More About School
      </p>
    </div>
    <div class="button_container">
      <button>EXPLORE MORE</button>
    </div>
  </div>
  <div class="right_parent">
    <div class="bg_frame">
      <img class="righ_main_img" src="../../../../../assets/images/choose_us_right.PNG">
      <img src="../../../../../assets/images/floating_tri1.png" class="float_img1">
      <img src="../../../../../assets/images/float_tri2.png" class="float_img2">
      <img src="../../../../../assets/images/float_tri3.png" class="float_img3">
      <img src="../../../../../assets/images/float_tri4.png" class="float_img4">
    </div>
  </div>
</div>
