@import "../../../../../assets/mixins/UI_mixins";
.choose_us_section{
  background-image: url('../../../../../assets/images/bg_choose_img.jpg');
  height: 35rem;
  background-size: 100vw 35rem;
  background-color: rgb(238, 233, 233);
  @include displayFlex(space-around, center);
  // padding: 2rem 8rem;
  .left_parent{
    width: 22rem;
    .header{
      p{
        @include fontStyle(rgb(255, 60, 0), 1rem, 700)
      }}
      .title{
        p{
          @include fontStyle(black, 2.5rem, normal);
        }
      }

  }
  .right_parent{

    .bg_frame{
      background-color: #f7d192;
      position: relative;
      height: 25rem;
      width: 32rem;
      .righ_main_img{
        position: absolute;
        right: 8rem;
        top: 2.5rem;
        height: 80%;
        width: 85%;
      }
      .float_img1{
        position: absolute;
        right: -1rem;
        top: 12rem;
      }
      .float_img2{
        position: absolute;
        left: -5rem;
        top: 12rem;
      }
      .float_img3{
        position: absolute;
        left: -5rem;
        top: 22rem;
      }
      .float_img4{
        position: absolute;
        left: 3rem;
        top: 26rem;
      }

    }
  }
}
