<div class="infra_section">
  <div class="container">
    <div class="headings">
      <div class="head1">
        LOREM IPSUM
      </div>
      <div class="head2">
        INFRASTRUCTURE
      </div>
    </div>
    <div class="card_parent">
      <div class="card_child">
        <div class="card_img">
          <img src="../../../../../assets/images/cloud_bg1.png" class="card_img1">
          <img src="../../../../../assets/images/infra_img7.png" class="card_img2">

        </div>
        <div class="card_text">
          TRANSPORT
        </div>
      </div>
      <div class="card_child">
        <div class="card_img">
          <img src="../../../../../assets/images/cloud_bg1.png" class="card_img1">
          <img src="../../../../../assets/images/infra_img1.png" class="card_img2">

        </div>
        <div class="card_text">
          MEDICAL FACILITIES
        </div>
      </div>
      <div class="card_child">
        <div class="card_img">
          <img src="../../../../../assets/images/cloud_bg1.png" class="card_img1">
          <img src="../../../../../assets/images/infra_img2.png" class="card_img2">

        </div>
        <div class="card_text">
          LIBRARY
        </div>
      </div>
      <div class="card_child">
        <div class="card_img">
          <img src="../../../../../assets/images/cloud_bg3.png" class="card_img1">
          <img src="../../../../../assets/images/infra_img3.png" class="card_img2">

        </div>
        <div class="card_text">
          SPORTS
        </div>
      </div>
      <div class="card_child">
        <div class="card_img">
          <img src="../../../../../assets/images/cloud_bg1.png" class="card_img1">
          <img src="../../../../../assets/images/infra_img4.png" class="card_img2">

        </div>
        <div class="card_text">
          CLASSROOM
        </div>
      </div>
      <div class="card_child">
        <div class="card_img">
          <img src="../../../../../assets/images/cloud_bg1.png" class="card_img1">
          <img src="../../../../../assets/images/infra_img5.png" class="card_img2">

        </div>
        <div class="card_text">
          LABS
        </div>
      </div>
      <div class="card_child">
        <div class="card_img">
          <img src="../../../../../assets/images/cloud_bg1.png" class="card_img1">
          <img src="../../../../../assets/images/infra_img6.png" class="card_img2">

        </div>
        <div class="card_text">
          CAFETERIA
        </div>
      </div>
    </div>
  </div>
</div>
